
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>POS - Tarbazar</title>
      <!-- jQuery -->
      <script type="text/javascript" src="../../assets/js/jquery-2.2.2.min.js"></script>
      <script type="text/javascript" src="../../assets/js/loading.js"></script>

      <!--<link rel="stylesheet" href="../..//../../reset/odr/style.css" type="text/css" />
      <script type="text/javascript" src="../..//../../reset/odr/odr.js.php"></script>-->
      <!-- normalize & reset style -->
      <link rel="stylesheet" href="../../assets/css/normalize.min.css"  type='text/css'>
      <link rel="stylesheet" href="../../assets/css/reset.min.css"  type='text/css'>
      <link rel="stylesheet" href="../../assets/css/jquery-ui.css"  type='text/css'>
      <!-- google lato font -->
      <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
      <!-- Bootstrap Core CSS -->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
      <!-- bootstrap-horizon -->
      <link href="../../assets/css/bootstrap-horizon.css" rel="stylesheet">
      <!-- datatable style -->
      <link href="../../assets/datatables/css/dataTables.bootstrap.css" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
      <!-- include summernote css-->
      <link href="../../assets/css/summernote.css" rel="stylesheet">
      <!-- waves -->
      <link rel="stylesheet" href="../../assets/css/waves.min.css">
      <!-- daterangepicker -->
      <link rel="stylesheet" type="text/css" href="../../assets/css/daterangepicker.css" />
      <!-- css for the preview keyset extension -->
      <link href="../../assets/css/keyboard-previewkeyset.css" rel="stylesheet">
      <!-- keyboard widget style -->
      <link href="../../assets/css/keyboard.css" rel="stylesheet">
      <!-- Select 2 style -->
      <link href="../../assets/css/select2.min.css" rel="stylesheet">
      <!-- Sweet alert swal -->
      <link rel="stylesheet" type="text/css" href="../../assets/css/sweetalert.css">
      <!-- datepicker css -->
      <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-datepicker.min.css">
      <!-- Custom CSS -->
      <link href="../../assets/css/Style-Light.css" rel="stylesheet">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#"><img src="../../files/Setting/emptysideswhite.png" alt="logo"  style='max-height: 45px; max-width: 200px'></a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li class="flat-box"><a href="../Register.html"><i class="fa fa-credit-card"></i> POS</a></li>
                 <li class="flat-box"><a href="../products/products.html"><i class="fa fa-archive"></i> Product</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle flat-box" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> People <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li class="flat-box"><a href="../customers/customers.html"><i class="fa fa-user"></i> Customers</a></li>
                       <li class="flat-box"><a href="../suppliers/suppliers.html"><i class="fa fa-truck"></i> Suppliers</a></li>
                    </ul>
                 </li>
                 <li class="flat-box"><a href="../sales/sales.html"><i class="fa fa-ticket"></i> Sales</a></li>
                 <li class="flat-box"><a href="../expenses/expense.html"><i class="fa fa-usd"></i> Expense</a></li>
                 <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle flat-box" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark"></i> Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li class="flat-box"><a href="../../categories"><i class="fa fa-archive"></i> Product</a></li>
                       <li class="flat-box"><a href="../../categorie_expences"><i class="fa fa-usd"></i> Expense</a></li>
                    </ul>
                 </li> -->
                 <li class="flat-box"><a href="../settings/settings.html"><i class="fa fa-cogs"></i> Setting</a></li>               
                   <li class="flat-box"><a href="../reports/reports.html" ><i class="fa fa-line-chart"></i> Reports</a></li>               
                  </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="">
                        <img class="img-circle topbar-userpic hidden-xs" src="../../files/Avatar/9fff9cc26e539214e9a5fd3b6a10cde9.jpg" width="30px" height="30px">
                        <span class="hidden-xs"> &nbsp;&nbsp;admin Doe </span>
                     </a>
                  </li>
                  <!-- <li class="dropdown language">
                     <a href="#" class="dropdown-toggle flat-box" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="../../assets/img/flags/en.png" class="flag" alt="language">
                        <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li class="flat-box"><a href="../../dashboard/change/english"><img src="../../assets/img/flags/en.png" class="flag" alt="language"> English</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/francais"><img src="../../assets/img/flags/fr.png" class="flag" alt="language"> Français</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/portuguese"><img src="../../assets/img/flags/pr.png" class="flag" alt="language"> Portuguese</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/spanish"><img src="../../assets/img/flags/sp.png" class="flag" alt="language"> Spanish</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/arabic"><img src="../../assets/img/flags/ar.png" class="flag" alt="language"> العربية</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/danish"><img src="../../assets/img/flags/da.png" class="flag" alt="language"> Danish</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/turkish"><img src="../../assets/img/flags/tr.png" class="flag" alt="language"> Turkish</a></li>
                        <li class="flat-box"><a href="../../dashboard/change/greek"><img src="../../assets/img/flags/gr.png" class="flag" alt="language"> Greek</a></li>
                     </ul>
                  </li> -->
                  <li class="flat-box"><a href="../Login.html" title="Logout"><i class="fa fa-sign-out fa-lg"></i></a></li>
               </ul>
            </div>
           
         </div>
         <!-- /.container -->
      </nav>
      <!-- Page Content -->


      <!-- Page Content -->
<div class="container">
   <div class="row" style="margin-top:100px;">
      <div class="col-md-12">
         <!-- tab navigation -->
                  <ul class="nav nav-tabs">
            <li class="active"><a href="#setting" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
            <li class=""><a href="#users" data-toggle="tab"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
            <!-- <li class=""><a href="#stores" data-toggle="tab"><i class="fa fa-building-o" aria-hidden="true"></i> Stores</a></li> -->
            <li class=""><a href="#warehouses" data-toggle="tab"><i class="fa fa-building" aria-hidden="true"></i> Warehouses</a></li>
         </ul>

         <!-- tab sections -->
         <div class="tab-content">
            <!-- General setting tab -->
            <div class="tab-pane fade in active" id="setting">
               <h1>Settings</h1>
               <p>Update your Settings</p>
               <form  >                 <div class="form-group col-md-6">
                   <label for="companyName">Store Name</label>
                   <input type="text" value="Aurora Roasters" name="companyname" class="form-control" id="companyName" placeholder="Company Name" disabled>
                 </div>
                 <div class="form-group col-md-6">
                    <label for="logo">Store Logo</label>
                    <input type="file" name="userfile" id="logo">
                    <img src="../../files/Setting/emptysideswhite.png" alt="" class="float-right" width="100px"/>                 </div>
                 <div class="form-group col-md-6">
                   <label for="phone">Store Phone</label>
                   <input type="text" value="95674596" name="phone" class="form-control" id="phone" placeholder="Company Phone">
                 </div>
                 <div class="form-group col-md-3">
                   <label for="DefaultDiscount">Default Discount(% or amount)</label>
                   <input type="text" value="" name="discount" class="form-control" id="DefaultDiscount" placeholder="Default Discount">
                 </div>
                 <div class="form-group col-md-3">
                   <label for="DefualtTax">Defualt TAX(%)</label>
                   <input type="text" value="12%" name="tax" class="form-control" id="DefualtTax" placeholder="Defualt TAX">
                 </div>
                 <div class="form-group col-md-6">
                   <!-- <label>
                     <input type="hidden" name="keyboard" value="0" />
                     <input type="checkbox" name="keyboard" value="1" >
                     <span class="label-text">Display virtual keyboard</span>
                   </label> -->
                 </div>
<!--                  
                 <div class="col-md-6">
                    <h4>Text in the Receipt Header</h4>
                    <textarea id="summernote" name="receiptheader"><p><img src="../../files/Setting/emptysidesblack.png" style="width: 124.5px; height: 37.6007px;"></p>
                     <p>
                        <span style="font-family: Tahoma, 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; font-size: 15.4px; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">Italian Mall Mansehra Road</span>
                        <br style="position: relative; font-family: Tahoma, 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; font-size: 15.4px; line-height: normal;">
                        <span style="font-family: Tahoma, 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; font-size: 15.4px; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">Abbottabad, Pakistan</span><br></p>
                     </textarea>
                  </div> -->
                  <!-- <div class="form-group col-md-6">
                     <h4>Text in the Receipt Footer</h4>
                     <textarea  id="summernote2" name="receiptfooter">Thank you for your business</textarea>
                  </div> -->
                  <!-- <div class="form-group col-md-12">
                    <label data-toggle="collapse" data-target="#collapseStripe">
                      <input type="hidden" name="stripe" value="0" />
                      <input type="checkbox" name="stripe" value="1" checked>
                      <span class="label-text">Stripe</span>
                    </label>
                  </div> -->
                  <!-- <div id="collapseStripe" class="panel-collapse collapse in">
                     <div class="panel-body">
                       <div class="form-group col-md-6">
                          <label for="stripe_secret_key">stripe secret key</label>
                          <input type="text" value="sk_test_HwZ74I9twmALzKTv8lPtBpKZ" name="stripe_secret_key" class="form-control" id="stripe_secret_key" placeholder="stripe secret key">
                       </div>
                       <div class="form-group col-md-6">
                          <label for="stripe_publishable_key">stripe publishable key</label>
                          <input type="text" value="pk_test_CJRpZ7gAAzOO2SAO09IGy22O" name="stripe_publishable_key" class="form-control" id="stripe_publishable_key" placeholder="stripe publishable key">
                       </div>
                     </div>
                  </div> -->
                  <!-- <div class="form-group col-md-12">
                     <h4>Pick your theme</h4>
                     <label class="themesPick col-md-3">
                        <input type="radio" name="theme" value="Light" />
                        <img src="../../assets/img/Light-theme.jpg" alt="Light-theme">
                      </label>
                      <label class="themesPick col-md-3">
                        <input type="radio" name="theme" value="Dark" checked />
                        <img src="../../assets/img/Dark-theme.jpg" alt="Dark-theme">
                      </label>
                  </div> -->
                 <div class="col-md-12">
                    <button type="submit" class="btn btn-add btn-lg" id="save-info">Save</button>
                 </div>
               </form>            </div>
            <!-- users tab -->
            <div class="tab-pane fade in container" id="users">
               <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                     <th>first Name</th>
                     <th>Last Name</th>
                     <th>Username</th>
                     <th>Role</th>
                     <th>last Active</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody id="table-data">

               </tbody>
                     
               </table>
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-add btn-lg" data-toggle="modal" data-target="#AddUser">
                  Add User               </button>
            </div>
            <!-- Stores tab -->
            <!-- <div class="tab-pane fade in " id="stores">
               <table class="table">
                  <tr>
                     <th>Store Name</th>
                     <th>Email</th>
                     <th>Store Phone</th>
                     <th>Country</th>
                     <th>City</th>
                     <th>Action</th>
                  </tr>
                                     <tr>
                      <td>Italian Mall</td>
                      <td>default@store.com</td>
                      <td>+12345678</td>
                      <td>tunisia</td>
                      <td>zarzis</td>
                      <td><div class="btn-group">
                            <a class="btn btn-default" disabled="disabled" href="stores/delete/1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                            <a class="btn btn-default" href="stores/edit/1" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                          </div>
                       </td>
                   </tr>
                                      <tr>
                      <td>Italian Mall</td>
                      <td>tarbazar@website.com</td>
                      <td>+12345678</td>
                      <td>Pakistan</td>
                      <td>Abbottabad</td>
                      <td><div class="btn-group">
                            <a class="btn btn-default"  href="stores/delete/3" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                            <a class="btn btn-default" href="stores/edit/3" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                          </div>
                       </td>
                   </tr>
                                     </table>
                  <!-- Button trigger modal --
                  <button type="button" class="btn btn-add btn-lg" data-toggle="modal" data-target="#AddStore">
                     Add Store                  </button>
            </div> -->
            <!-- Warehouse tab -->
            <div class="tab-pane fade in " id="warehouses">
               <table class="table">
                  <tr>
                     <th>Warehouse Name</th>
                     <th>Warehouse Phone</th>
                     <th>Email</th>
                     <th>Adresse</th>
                     <th>Action</th>
                  </tr>
                      <tr>
                      <td>warehouse1</td>
                      <td>12345678</td>
                      <td>email@hotmail.com</td>
                      <td>adresse at city rue</td>
                      <td><div class="btn-group">
                            <a class="btn btn-default" href="warehouses/delete/1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                            <a class="btn btn-default" href="warehouses/edit/1" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                          </div>
                       </td>
                   </tr>
                                     </table>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-add btn-lg" data-toggle="modal" data-target="#AddWarehouse">
                     Add Warehouse                  </button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /.container -->
<!-- add user Modal -->
<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <form>     
          <div class="modal-body">
            <div class="form-group">
             <label for="username">Username *</label>
             <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
           </div>
           <div class="form-group">
             <label for="firstname">first Name *</label>
             <input type="text" name="firstname" class="form-control" id="firstname" placeholder="first Name" required>
           </div>
           <div class="form-group">
             <label for="lastname">Last Name</label>
             <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name">
           </div>
           <div class="form-group">
               <label for="role">Role *</label><br>
               <label class="radio-inline">
                 <input type="radio" name="role" id="role" value="admin" checked> Admin               </label>
               <label class="radio-inline">
                 <input type="radio" name="role" id="role" value="sales"> Sales Staff               </label>
            </div>
           <div class="form-group">
             <label for="password">Password *</label>
             <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
          </div>
           <div class="form-group">
             <label for="confirm_password">Repeat Password *</label>
             <input type="password" name="PasswordRepeat" class="form-control" id="confirm_password" placeholder="Repeat Password" required>
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-add" id="add-user">Submit</button>
      </div>
   </form>  
  </div>
 </div>
</div>
<!-- /.Modal -->


<!-- add store Modal -->
<!-- <div class="modal fade" id="AddStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Store</h4>
      </div>
      <form action="../../stores/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">      <div class="modal-body">
            <div class="form-group">
             <label for="StoreName">Store Name *</label>
             <input type="text" name="name" class="form-control" id="StoreName" placeholder="Store Name" required>
           </div>
           <div class="form-group">
             <label for="email">Email</label>
             <input type="email" name="email" class="form-control" id="email" placeholder="Email">
          </div>
           <div class="form-group">
             <label for="StorePhone">Store Phone</label>
             <input type="text" name="phone" class="form-control" id="StorePhone" placeholder="Store Phone">
           </div>
           <div class="form-group">
             <label for="Country">Country</label>
             <input type="text" name="country" class="form-control" id="Country" placeholder="Country">
           </div>
           <div class="form-group">
             <label for="City">City</label>
             <input type="text" name="city" class="form-control" id="City" placeholder="City">
           </div>
           <div class="form-group">
             <label for="Adresse">Adresse</label>
             <input type="text" name="adresse" class="form-control" id="Adresse" placeholder="Adresse">
           </div>
           <div class="form-group">
             <label for="CustomeFooter">Custome Footer for the receipt</label>
             <input type="text" name="footer_text" class="form-control" id="CustomeFooter" placeholder="Custome Footer for the receipt">
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-add">Submit</button>
      </div>
   </form>    </div>
 </div>
</div> -->
<!-- /.Modal -->

<!-- add warehouse Modal -->
<div class="modal fade" id="AddWarehouse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Warehouse</h4>
      </div>
      <form action="../../warehouses/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">      <div class="modal-body">
            <div class="form-group">
             <label for="WarehouseName">Warehouse Name *</label>
             <input type="text" name="name" class="form-control" id="WarehouseName" placeholder="Warehouse Name" required>
           </div>
           <div class="form-group">
             <label for="WarehousePhone">Warehouse Phone</label>
             <input type="text" name="phone" class="form-control" id="WarehousePhone" placeholder="Warehouse Phone">
          </div>
           <div class="form-group">
             <label for="email">Email</label>
             <input type="email" name="email" class="form-control" id="email" placeholder="Email">
          </div>
           <div class="form-group">
             <label for="Adresse">Adresse</label>
             <input type="text" name="adresse" class="form-control" id="Adresse" placeholder="Adresse">
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-add">Submit</button>
      </div>
   </form>    </div>
 </div>
</div>
<!-- /.Modal -->





      <!-- slim scroll script -->
      <script type="text/javascript" src="../../assets/js/jquery.slimscroll.min.js"></script>
      <!-- waves material design effect -->
      <script type="text/javascript" src="../../assets/js/waves.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
      <!-- keyboard widget dependencies -->
      <script type="text/javascript" src="../../assets/js/jquery.keyboard.js"></script>
      <script type="text/javascript" src="../../assets/js/jquery.keyboard.extension-all.js"></script>
      <script type="text/javascript" src="../../assets/js/jquery.keyboard.extension-extender.js"></script>
      <script type="text/javascript" src="../../assets/js/jquery.keyboard.extension-typing.js"></script>
      <script type="text/javascript" src="../../assets/js/jquery.mousewheel.js"></script>
      <!-- select2 plugin script -->
      <script type="text/javascript" src="../../assets/js/select2.min.js"></script>
      <!-- dalatable scripts -->
      <script src="../../assets/datatables/js/jquery.dataTables.min.js"></script>
      <script src="../../assets/datatables/js/dataTables.bootstrap.js"></script>
      <!-- summernote js -->
      <script src="../../assets/js/summernote.js"></script>
      <!-- chart.js script -->
      <script src="../../assets/js/Chart.js"></script>
      <!-- moment JS -->
      <script type="text/javascript" src="../../assets/js/moment.min.js"></script>
      <!-- Include Date Range Picker -->
      <script type="text/javascript" src="../../assets/js/daterangepicker.js"></script>
      <!-- Sweet Alert swal -->
      <script src="../../assets/js/sweetalert.min.js"></script>
      <!-- datepicker script -->
      <script src="../../assets/js/bootstrap-datepicker.min.js"></script>
      <!-- creditCardValidator script -->
      <script src="../../assets/js/jquery.creditCardValidator.js"></script>
      <!-- creditCardValidator script -->
      <script src="../../assets/js/credit-card-scanner.js"></script>
      <script src="../../assets/js/jquery.redirect.js"></script>
      <!-- ajax form -->
      <script src="../../assets/js/jquery.form.min.js"></script>
      <!-- custom script -->
      <script src="../../assets/js/app.js"></script>
      <script src="../../scripts/add_company.js"></script>
      <script src="../../scripts/add_users.js"></script>
   </body>
</html>
