<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="edit">Edit</h4>
        </div>
        <div class="modal-body" id="modal-body">
           <div id="editSection"><div class="row"><div class="col-md-12"><h4><b>Total</b> 567.84 KWD <b>&emsp;Paid :</b> 567.840 KWD<b> &emsp;change :</b> 0 KWD</h4><div class="form-group"><label for="customerSelect">Change Client</label><select class="form-control" id="customerSelect"><option value="0">Walk in Customer</option><option value="7">Tiffany Green</option><option value="8">Russell Thomas</option><option value="9">Gregory Hawkins</option><option value="10">Benjamin Smith</option><option value="11">Rajashekar Reddy N</option></select></div><div class="form-group"><label for="changeStatus">Change Status <span class="paid">Paid<span></span></span></label><select class="form-control" id="changeStatus"><option value="0">Change Status</option><option value="0">Paid</option><option value="1">Unpaid</option><option value="2">Partially paid</option></select></div></div><input type="hidden" id="ClientId" value="31"></div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default hiddenpr" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-add hiddenpr" onclick="update_Sale()">Submit</button>
        </div>
      </div>